body{
    background-color: white;
}

header{
    color: white;
    background-color: rgb(48, 47, 47);
    height: 75px;
}

nav{
    background-color: rgb(48, 47, 47);
    color: white;
}

footer{
    color: white;
    background-color: rgb(48, 47, 47);
    height: 30px;
}
a{
    color: white;
    padding: 8px;
    height: 50px;
}
a:link {text-decoration: none; color: white;}
a:hover {text-decoration: none; color: white;}

div{
    border-style:solid;
    border-width: thin;
}
p{
    text-indent: 30px;
}