<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    <div>
        <header>
            <h1>Vertical Tank Maintenance</h1>
        </header>
        <main>
            <nav>
                <a href="index.html">Home</a>
                <a href="estimate.html">Estimate</a>
                
            </nav>
        </main>
        <h2>Welcome to Software Design</h2>
        
        <hr>
        <br>
        
        {% block body %}

        {% endblock %}

    </div>
</body>
</html>